<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>

  <body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
      <h1>Evaluate a News Article with Natural Language Processing</h1>
      <section>
        <form onsubmit="return Client.handleSubmit(event)">
          <input id="url" type="url" placeholder="Please type URL of an article">
          <button>Evaluate</button>
        </form>
      <section>

      <section>
        <h2>NLP analysis:</h2>
        <ul>
          <li id="polarity">
            <strong>Polarity:</strong>
          </li>
          <li id="subjectivity">
            <strong>Subjectivity:</strong>
          </li>
          <li id="polarity_confidence">
            <strong>Polarity confidence:</strong>
          </li>
          <li id="subjectivity_confidence">
            <strong>Subjectivity confidence:</strong>
          </li>
          <li id="text">
            <strong>Text:</strong>
            <blockquote></blockquote>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>

  </body>
</html>
