<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NLP</title>
  </head>

  <body>
    <header>
      <h1>Evaluate a News Article with Natural Language Processing</h1>
    </header>

    <main>
      <section>
        <form onsubmit="return Client.handleSubmit(event)">
          <input id="url" type="text" placeholder="Please type URL of an article" autofocus>
          <button>Evaluate</button>
        </form>
      <section>
      
      <div id="loading"></div>
      <div id="error" class="error"></div>

      <section class="results" id="results">
        <ul>
          <li>
            <strong>Polarity:</strong>
            <span id="polarity"></span>
          </li>
          <li>
            <strong>Subjectivity:</strong>
            <span id="subjectivity"></span>
          </li>
          <li>
            <strong>Polarity confidence:</strong>
            <span id="polarity_confidence"></span>
          </li>
          <li>
            <strong>Subjectivity confidence:</strong>
            <span id="subjectivity_confidence"></span>
          </li>
          <li>
            <strong>Text:</strong>
            <blockquote id="text"></blockquote>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2020 Svitlana Lesiv</p>
    </footer>

  </body>
</html>
