//button
@mixin button-template($bk-color, $accent-color) {
  background: $bk-color;
  color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;

  &:active,
  &:hover,
  &:focus {
    outline: none; // overwrite the default style
    color: lighten($accent-color, 15);
    border-color: lighten($accent-color, 10);
  }
}
